<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Log4NetConnectionString" connectionString="Data Source=.; Persist Security Info=True; Initial Catalog=log4netdblogger;Integrated Security=False;user id=log4netdblogger;password=x32yJ3HpQwC6DrmQ" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>